.prices-intro {
  margin-top: 1rem;
}

.btn-link {
  text-align: left;
}

.price-heading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.collapse.show {
  width: 100%;
}

table {
  width: 100%;
}

.table-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &::after {
    content: "";
    margin-top: 0.5rem;
    width: 100%;
    border-bottom: 1px solid rgb(177, 177, 177);
  }
}

.table-row-new {
  width: inherit;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2rem;
}

.table-row-subheading {
  font-weight: 300;
  color: white;
  background-color: $primary-color;
  border-radius: 5px;
  padding-left: 0.25rem;
}

.table-subdata {
  padding-left: 1rem;
}

.table-subrow {
  padding-left: 1rem;
}

.table-row-promo {
  color: white;
  width: inherit;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: $primary-color;
  &::after {
    content: "";
    margin-top: 0.5rem;
    width: 100%;
    border-bottom: 1px solid white;
  }
}
