/* --- variables --- */

$primary-color: #0275d8;
/* ----- -----  */

/* --- general setup --- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  margin: 0;
  line-height: 1.6;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.logo {
  width: 9rem;
}

.logo-dark {
  width: 9rem;
}

.container {
  width: 85%;
  max-width: 65em;
  margin: 0 auto;
  padding: 1rem 0;
}

.btnHero {
  display: inline-block;
  text-decoration: none;
  color: white;
  border: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  padding: 0.5em 1.25em;
  background-color: $primary-color;
  border-radius: 0.25em;
  transition: transform 250ms ease-in-out, opacity 250ms linear;
}

.btnHero:hover,
.btnHero:focus {
  transform: scale(1.1);
  opacity: 0.9;
}
/* ----- -----  */

.spacing > * + * {
  margin-top: 1rem;
}

/* --- dark covid-box --- */

.covid-box-dark {
  font-weight: 700;
  color: white;
  background-color: $primary-color;
  text-align: center;
}
/* ----- -----  */

/* --- Media queries mixins --- */
@mixin media-sm {
  @media screen and (min-width: 320px) {
    @content;
  }
}

@mixin media-md {
  @media screen and (min-width: 768px) {
    @content;
  }
}
@mixin media-lg {
  @media screen and (min-width: 1024px) {
    @content;
  }
}
@mixin media-xl {
  @media screen and (min-width: 1400px) {
    @content;
  }
}
/* ----- -----  */
