.penztarak__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 18rem);
  justify-content: center;
}

.penztar-box {
  text-align: center;
  & img {
    max-width: 70%;
  }
  & a {
    display: flex;
    justify-content: center;
  }
  margin-top: 1rem;
}

.penztarak__payment a {
  color: $primary-color;
  text-decoration: none;
}
