footer {
  color: white;
  font-size: 1rem;
  background-color: #1d1c1c;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerContact {
  &__header {
    font-size: 1.1rem;
    text-transform: uppercase;
    & a {
      color: white;
      text-decoration: none;
    }
  }
  &__body ul {
    padding: 0;
    list-style-type: none;
    text-align: center;
    & a {
      color: white;
      text-decoration: none;
    }
  }
}

.social {
  text-align: center;
}

.fa-facebook {
  width: 100%;
}

.sitemap {
  font-size: 0.8rem;
}

.copyright {
  font-size: 0.8rem;
  text-align: center;
}
