.siteTitle-dark {
  font-size: 1.5rem;
  text-transform: uppercase;
  & a {
    text-decoration: none;
    color: black;
  }
}

.hamburger-dark .fa-bars {
  color: black;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 0;
}

.nav__ul {
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  flex-direction: column;
  list-style-type: none;
  width: 100vw;
  background-color: $primary-color;
  opacity: 0.98;
  transform: translateY(-100%);
  transition: ease-in-out 0.25s;
  & li {
    margin-bottom: 1rem;
  }

  & li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
  }
  &__show {
    visibility: visible;
    transform: translateY(0);
    z-index: 2;
    height: 100vh;
    overflow: hidden;
  }
}

.hamburger {
  position: relative;
  display: block;
  cursor: pointer;
}

.closeBtn {
  display: none;
  position: fixed;
  top: 117px;
  right: 29px;
  cursor: pointer;
  z-index: 9;

  &__show {
    display: block;
  }
}
