body {
  color: black;
}

.header-wrapper-dark {
  min-height: auto;
  background-image: none;
  /* background-color: $primary-color; */
}

.darkphone {
  color: $primary-color !important;
}

.section-title {
  color: $primary-color;
  font-size: 1.75rem;
}

.section-subtitle {
  color: $primary-color;
  font-weight: 300;
  font-size: 1.75rem;
  text-align: center;
  margin-top: 1rem;
}

.team-description {
  margin-top: 1rem;
}

.team {
  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & img {
      height: 300px;
    }
  }
  &__name {
    color: $primary-color;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  &__title {
    margin: 0;
    text-align: center;
    font-size: 1rem;
    letter-spacing: 1px;
    color: $primary-color;
    text-transform: uppercase;
  }
}
