/* --- variables --- */
/* ----- -----  */
/* --- general setup --- */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  margin: 0;
  line-height: 1.6;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.logo {
  width: 9rem;
}

.logo-dark {
  width: 9rem;
}

.container {
  width: 85%;
  max-width: 65em;
  margin: 0 auto;
  padding: 1rem 0;
}

.btnHero {
  display: inline-block;
  text-decoration: none;
  color: white;
  border: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  padding: 0.5em 1.25em;
  background-color: #0275d8;
  border-radius: 0.25em;
  -webkit-transition: opacity 250ms linear, -webkit-transform 250ms ease-in-out;
  transition: opacity 250ms linear, -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, opacity 250ms linear;
  transition: transform 250ms ease-in-out, opacity 250ms linear, -webkit-transform 250ms ease-in-out;
}

.btnHero:hover,
.btnHero:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.9;
}

/* ----- -----  */
.spacing > * + * {
  margin-top: 1rem;
}

/* --- dark covid-box --- */
.covid-box-dark {
  font-weight: 700;
  color: white;
  background-color: #0275d8;
  text-align: center;
}

/* ----- -----  */
/* --- Media queries mixins --- */
/* ----- -----  */
/* --- Header --- */
/* --- covid box --- */
.covid-box {
  font-weight: 700;
  background-color: white;
  text-align: center;
}

/* ----- -----  */
.header-wrapper {
  min-height: 100vh;
  background-image: url(../img/cover.jpg), radial-gradient(#444, #111);
  background-blend-mode: multiply;
  background-position: left;
  background-size: cover;
}

/* --- site title --- */
/* .siteTitle {
  font-size: 1.5rem;
  text-transform: uppercase;
  & a {
    text-decoration: none;
    color: white;
  }
} */
/* .logo {
  width: 9rem;
} */
/* --- navigation --- */
.nav__ul__desktop__dark {
  display: none;
}

.contact__main {
  display: none;
}

.hamburger {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav {
  height: 100%;
}

.navbar {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

/* --- Hero --- */
.hero-text {
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.hero-content {
  min-height: calc(100vh - 195.833px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.hero {
  text-align: center;
}

/* ----- -----  */
.section-title {
  text-align: center;
  text-transform: uppercase;
}

/* --- contact --- */
.contact-wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact {
  font-size: 1.4rem;
}

.contact__header {
  margin: 1rem 0;
}

.contact a {
  text-decoration: none;
  color: black;
}

.contact__body a {
  color: initial;
  text-decoration: none;
}

/* ----- -----  */
/* --- font awesome icons --- */
.fas {
  color: #0275d8;
  font-size: 3rem;
}

.fa-facebook {
  color: white;
  font-size: 1.75rem;
  margin-top: 0.5rem;
}

.fa-bars {
  color: white;
  height: 100%;
  font-size: 1.25rem;
}

.fa-times {
  color: white;
  font-size: 1.5rem;
}

.fa-chevron-down {
  color: #0275d8;
  position: absolute;
  bottom: 0;
  font-size: 1.25rem;
}

.fa-phone-alt {
  color: white;
  font-size: 1.7rem;
}

/* ----- -----  */
footer {
  color: white;
  font-size: 1rem;
  background-color: #0275d8;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footerContact__header {
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
}

.footerContact__header a {
  color: white;
  text-decoration: none;
}

.footerContact__body ul {
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.footerContact__body ul a {
  color: white;
  text-decoration: none;
}

.social {
  text-align: center;
}

.fa-facebook {
  width: 100%;
}

.sitemap {
  font-size: 0.8rem;
}

.copyright {
  font-size: 0.8rem;
  text-align: center;
}

.siteTitle-dark {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.siteTitle-dark a {
  text-decoration: none;
  color: black;
}

.hamburger-dark .fa-bars {
  color: black;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*  flex-wrap: wrap; */
  position: relative;
  padding: 0;
}

.nav__ul {
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
  width: 100vw;
  background-color: #0275d8;
  opacity: 0.98;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: ease-in-out 0.25s;
  transition: ease-in-out 0.25s;
}

.nav__ul li {
  margin-bottom: 1rem;
}

.nav__ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.nav__ul__show {
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  z-index: 2;
  height: 100vh;
  overflow: hidden;
}

.hamburger {
  position: relative;
  display: block;
  cursor: pointer;
}

.closeBtn {
  display: none;
  position: fixed;
  top: 117px;
  right: 29px;
  cursor: pointer;
  z-index: 9;
}

.closeBtn__show {
  display: block;
}

.nav__ul__desktop__bright {
  display: none;
}

.phoneHeader__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1rem;
}

body {
  color: black;
}

.header-wrapper-dark {
  min-height: auto;
  background-image: none;
  /* background-color: $primary-color; */
}

.darkphone {
  color: #0275d8 !important;
}

.section-title {
  color: #0275d8;
  font-size: 1.75rem;
}

.section-subtitle {
  color: #0275d8;
  font-weight: 300;
  font-size: 1.75rem;
  text-align: center;
  margin-top: 1rem;
}

.team-description {
  margin-top: 1rem;
}

.team__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team__box img {
  height: 300px;
}

.team__name {
  color: #0275d8;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.team__title {
  margin: 0;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 1px;
  color: #0275d8;
  text-transform: uppercase;
}

/* --- video wrapper settings --- */
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ---  --- */
/* --- accordion settings --- */
#accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.card {
  border: none;
  width: 100%;
  overflow-wrap: break-word;
}

.card-header {
  background-color: white;
  padding: 0.75rem 0;
}

#headingEight {
  border: none;
}

.section-subtitle {
  margin-bottom: 1rem;
}

p {
  margin: 1rem 0;
}

.btn-link {
  text-transform: uppercase;
  text-decoration: none;
}

.btn-link:hover {
  text-decoration: none;
}

.btn-link.focus,
.btn-link:focus {
  text-decoration: none;
}

/* ---  --- */
.prices-intro {
  margin-top: 1rem;
}

.btn-link {
  text-align: left;
}

.price-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.collapse.show {
  width: 100%;
}

table {
  width: 100%;
}

.table-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.table-row::after {
  content: "";
  margin-top: 0.5rem;
  width: 100%;
  border-bottom: 1px solid #b1b1b1;
}

.table-row-new {
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2rem;
}

.table-row-subheading {
  font-weight: 300;
  color: white;
  background-color: #0275d8;
  border-radius: 5px;
  padding-left: 0.25rem;
}

.table-subdata {
  padding-left: 1rem;
}

.table-subrow {
  padding-left: 1rem;
}

.table-row-promo {
  color: white;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #0275d8;
}

.table-row-promo::after {
  content: "";
  margin-top: 0.5rem;
  width: 100%;
  border-bottom: 1px solid white;
}

.penztarak__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (18rem)[auto-fit];
      grid-template-columns: repeat(auto-fit, 18rem);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.penztar-box {
  text-align: center;
  margin-top: 1rem;
}

.penztar-box img {
  max-width: 70%;
}

.penztar-box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.penztarak__payment a {
  color: #0275d8;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .header-wrapper {
    background-attachment: fixed;
  }
  .siteTitle {
    font-size: 1.75rem;
  }
  .siteTitle-dark {
    font-size: 1.75rem;
  }
  .fa-bars {
    font-size: 1.5rem;
  }
  .closeBtn {
    top: 85px;
    right: 57px;
  }
  .penztar-box img {
    max-width: 55%;
  }
  .btn-link {
    font-size: 1.25rem;
  }
  .penztarak__list {
    -ms-grid-columns: (20rem)[auto-fit];
        grid-template-columns: repeat(auto-fit, 20rem);
  }
  .stockImg {
    width: 40%;
  }
  .stockImgLarge {
    width: 55%;
  }
}

@media screen and (min-width: 1024px) {
  .navbar {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .logo {
    width: 10rem;
  }
  .hamburger {
    display: none;
  }
  /* Home page navbar dark*/
  .nav__ul__desktop__dark {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-left: 2rem;
    width: 70%;
    list-style-type: none;
  }
  .nav__ul__desktop__dark li {
    font-size: 1rem;
    text-transform: uppercase;
  }
  .nav__ul__desktop__dark li a {
    color: white;
    text-decoration: none;
    margin-left: 1.5rem;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .nav__ul__desktop__dark li a:hover {
    color: #0275d8;
  }
  .card img {
    width: 65%;
  }
  .stockImg {
    width: 25% !important;
  }
  .stockImgLarge {
    width: 50% !important;
  }
  /* Bright Navbar*/
  .nav__ul__desktop__bright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-left: 2rem;
    width: 70%;
    list-style-type: none;
  }
  .nav__ul__desktop__bright li {
    font-size: 1rem;
    text-transform: uppercase;
  }
  .nav__ul__desktop__bright li a {
    color: black;
    text-decoration: none;
    margin-left: 1.5rem;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .nav__ul__desktop__bright li a:hover {
    color: #0275d8;
  }
  .nav__ul__desktop__bright .active {
    color: #0275d8;
  }
  .penztarak__list {
    -ms-grid-columns: (25rem)[auto-fit];
        grid-template-columns: repeat(auto-fit, 25rem);
  }
  .fa-chevron-down {
    bottom: -1rem;
  }
  .contact {
    text-align: center;
  }
}

@media screen and (min-width: 1400px) {
  /* Home page navbar */
  .nav__ul__desktop__dark li {
    font-size: 1rem;
  }
  /* Bright Navbar*/
  .nav__ul__desktop__bright li {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=main.css.map */